<h2>All users: </h2>

<table class="table table-striped">
  <thead >
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Username</th>
      <th>email</th>
      <th colspan="5"></th>
    </tr>
  </thead> 
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
            <img src="<%= '/images/users-thumbnail/' + user[:data]['login']['username'] + '.jpg' %>" alt="" />
        </td>
        <td>
          <%= user[:data]["name"]["first"]%>
          <%= user[:data]["name"]["last"]%>
        </td>
        <td>
          <%= user[:data]["login"]["username"]%>
        </td>
        <td>
          <%= user[:data]["email"]%>
        </td>
        <td>
          <%= link_to 'Show', user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @users, theme: 'bootstrap-5', pagination_class: "pagination-centered"  %>
</div>
