<h3>User: <%= @user[:data]["login"]["username"]%></h3>

<div class="card" style="width: 18rem;">
  <img src="<%= '../images/users-large/' + @user[:data]['login']['username'] + '.jpg' %>" alt="" />
  <div class="card-body">
  <h4 class="card-title">
    <%= @user[:data]["name"]["first"]%>
    <%= @user[:data]["name"]["last"]%>
  </h4>
  <p>Age: 
    <%= @user[:data]["dob"]["age"]%>
  </p>
  <p>Email:
    <%= @user[:data]["email"]%>
  </p>
  <p>Phone:
    <%= @user[:data]["phone"]%>
  </p>
  <p>Cell:
    <%= @user[:data]["cell"]%>
  </p>

  <p>Adress:
    <%= @user[:data]["location"]["street"]["name"]%>,
    <%= @user[:data]["location"]["street"]["number"]%>,
    <%= @user[:data]["location"]["city"]%> -
    <%= @user[:data]["location"]["state"]%>, 
    <%= @user[:data]["location"]["country"]%>,
    <%= @user[:data]["location"]["postcode"]%>
  </p>
  </div>
</div>
<%= link_to 'Back', users_path %>
